#works {
  min-height: 100vh;
}

.app__work {
  flex: 1;
  //   height: 100%;
}

.work-header {
  text-align: center;
  margin-top: 8rem;
}

.app__work-categories {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;

  .app__work-category {
    background-color: var(--white-color);
    padding: 0.4rem 0.8rem;
    // margin-left: 1.2rem;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
      color: var(--white-color);
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 1rem;
    }
  }

  .app__work-category-active {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 0.4rem 0.8rem;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    @media screen and (max-width: 600px) {
      margin-bottom: 1rem;
    }
  }
}

.app__work-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  width: 90%;
  margin: auto;

  .app__work-project {
    width: 240px;
    position: relative;

    // margin-left: 2rem;
    // margin-bottom: 2rem;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    // display: flex;
    // align-items: flex-start;
    // flex-direction: column

    .app__work-img {
      position: relative;
      cursor: pointer;
      img {
        width: 180px;
        height: 150px;
        border-radius: 15px;
        object-fit: fill;
        margin: auto;
        display: block;
      }
      &:hover {
        .app__work-overlay {
          opacity: 1;
        }
      }

      .app__work-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 15px;
        z-index: 9;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;

        .overlay-icon {
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
          width: 40px;
          height: 40px;
          font-size: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
